.all-products {
    padding-top: 48px;
}

.all-products .products-gap {
    align-items: flex-start;
    row-gap: 24px;
    /* justify-content: space-around; */

}


.all-products .products-gap .card {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05), 0px 4px 6px -1px rgba(0, 0, 0, 0.10);

}

.filt-btn {
    display: flex;
    width: 200px;
    height: 35PX;
    padding: 22px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #E3E6EA;
    background: #F1F2F4;
    color: var(--gray-1, #687799);
    text-align: center;
    font-family: "Inter-semi";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.in {
    display: flex;
    width: 1054px;
    height: 35PX;
    padding: 22px 18px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #DDD;
    background: #FFF;
}

.search-bar {
    padding-bottom: 30px;
}

.fo2 {
    padding-top: 50px;
}

.in input {
    border-radius: 8px;
    border: 1px solid #DDD;
    background: #FFF;
}

.all-products .product-1 {
    color: var(--Gray-900);

    font-family: "Inter-semi";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.72px;
}

.all-products .product-2 {
    color: var(--Gray-500);
    font-family: "Inter-med";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
}

.all-products .product-card-text1 {
    color: #14181F;
    font-family: "Inter-semi";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.all-products .product-card-text2 {
    color: #5C6066;
    font-family: "Inter-reg";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.3px;
}

.all-products .card-svg {
    width: 17.143px;
    height: 12px;
    flex-shrink: 0;
}

.all-products .card-svg-text {
    color: #14181F;
    font-family: "Inter-med";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.3px;
    padding-top: 8px;
    padding-left: 5px;
}

.all-products .maden {
    display: flex;
    padding: 10px 0 10px 0;
}

.all-products .ava {
    width: 14px;
    height: 14px;
    padding-left: 2px;
}

.all-products .call-btns {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.all-products .btn-call-1 {
    display: flex;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--primary-color);
    border-color: transparent;
}

.all-products .btn-text {
    color: var(--white);

    font-family: "Inter-med";
    font-size: 13.5px;

    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.all-products .products-section {
    padding: 70px 0;
}

.all-products .btn-call-2 {
    display: flex;
    padding: 13px 7px;
    justify-content: center;
    align-items: center;
    color: var(--gray-800, #1F2A37);
    border-radius: 8px;
    border: 1px solid var(--gray-200);
    font-family: "Inter-med";
    font-size: 13.5px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    background-color: white;
}


.btn-call-3 {
    display: flex;
    padding: 13px 15px;
    justify-content: center;
    align-items: center;
    color: var(--gray-800, #1F2A37);
    border-radius: 8px;
    border: 1px solid var(--gray-200);
    font-family: "Inter-med";
    font-size: 13.5px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    background-color: white;
}






.all-products .col-9 {
    width: 71%;
}


.all-products .filter-container {
    margin-bottom: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
}

.all-products .search-input {
    width: 180%;
    height: 100%;
}

.all-products .filter-container .input-group.search-input input {
    display: flex;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-right: none;
    border-radius: 6px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

}

.all-products .border-radius {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;

}

.all-products .filter-container .input-group-append .input-group-text i {
    font-size: 20px;
}





.all-products .sort-filter {

    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;





}

.all-products .sort-filter .form-select {
    width: auto;
}

.all-products .sort-filter p {
    color: var(--Gray-900);
    font-family: "Inter-reg";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;


}


.sub-container-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

}

.rating-conatiner {
    display: flex;
    width: 242px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

}

.rating-conatiner .sub-rating-container {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.sub-container-1 .rating-conatiner i {
    color: var(--star-color);
    font-size: 16px;
}

.sub-container-1 .rating-text p {
    color: var(--Gray-500, #77878F);

    font-family: "Inter-med";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.parent-profile-conatiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.parent-profile-conatiner .heading-text {
    display: flex;
    width: 216px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.parent-profile-conatiner .heading-text hr {
    background: #E5E7EB;
    width: 226px;
    height: 1px;
    border-style: dotted;
}

.parent-profile-conatiner .sub-profile-conatiner {
    display: flex;
    align-items: center;
    gap: 10px;
}

.parent-profile-conatiner .sub-profile-conatiner img {
    width: 37.039px;
    height: 34px;
    border-radius: 6px;
}

.profile-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.profile-title .title {
    color: var(--gray-900, #111928);
    font-family: "Inter-med";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

.profile-title .sub-title {
    color: var(--gray-500);
    font-family: "Inter-reg";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* -------------------------------search by col-3----------------------------- */
.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.filter-country {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.country-filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.country-filters label {
    width: 284px;
    color: #191C1F;

    font-family: "Inter-med";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.filter-country .filter-text {
    color: #191C1F;

    font-family: "Inter-semi";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}

.h-line {
    width: 100%;
    height: 1px;
    background: #E4E7E9;
}

.sectors {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.sectors .form-check {
    width: 47%;
}

.cat-filterssss {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    flex-wrap: wrap;
}

.cat-filterssss-1 {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.cat-filter-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    border: 1px solid #E4E7E9;
}

.cat-filter-2.active {
    border-color: var(--secondary-color) !important;

}

.cat-filter-2.active p {
    color: var(--secondary-color) !important;

}

.cat-filter-text {
    padding: 6px 12px !important;

    color: var(--Gray-900, #191C1F) !important;

    font-family: "Inter-med" !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 20px !important;
}


.filter-active {
    border-radius: 2px;
    border: 1px solid var(--secondary-color);
    background: var(--white);
}

.filter-active-text {
    color: #F2AE31;
}

.countries input:checked {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

.country-filters.countries.scroll {
    height: 332px;
    overflow-y: scroll;
    width: 100%;
    overflow-x: hidden;
}

.country-filters.countries.scroll::-webkit-scrollbar {
    width: 10px;
}

.country-filters.countries.scroll::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.country-filters.countries.scroll::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}



.sectors input:checked {
    display: flex;
    width: 20px;
    height: 20px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.price-title span {
    font-family: "Inter-semi";

}

.price-title {
    font-family: "Inter-reg";

}



/* ------------------- */
.all-products .arrow-container {
    gap: 12px;
}

.all-products .arrow-btn {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 7px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #6B7B8A;
    background: #FAFAFA;
}

.all-products .arrow-btn:hover {

    background: var(--secondary-color)
}

.all-products .arrow-btn:active {

    background: var(--secondary-color)
}


.btn-clickedOn {

    background: var(--secondary-color) !important
}



.all-products .card-img-top {
    height: 194px;
    width: 100%;
    object-fit: cover;

}



.all-products .page-item.arrow-btn {
    color: black;
    text-decoration: none;

}


.all-products .seach-select {
    border: none;
    padding: 8px,
}

.all-products .fa-solid.fa-arrow-right {
    color: white;
}

.all-products select.from-select:focus {
    border-color: black !important;
    outline: 0;
    box-shadow: transparent !important;
}

.all-products .dropdown-menu-top {
    /* display: none; */
    position: absolute;
    top: 76px;
    right: 0;
    border: 1px solid var(--Gray-300);
    background: white;
    border-radius: 6px;
}

.all-products .form-select:focus {
    border-color: var(--Gray-300) !important;
    box-shadow: none !important;
}


.all-products .fa-regular.fa-comments {

    font-size: 1.5rem;
    font-size: 1.2rem;
}

/* ) */
@media (max-width: 1397px) and (min-width:1200px) {


    .all-products .btn-call-1 {
        padding: 10px 15px;
    }

    .fa-regular.fa-comments {
        font-size: 1.2rem !important;

    }

    .all-products .btn-text {
        font-size: 12px;

    }

    .all-products .btn-call-3 {
        padding: 10px 13px;
    }
}



@media (max-width: 1199px)and (min-width: 989px) {
    .all-products .btn-text {
        font-size: 0.97vw;
    }

    .all-products .fa-regular.fa-comments {
        font-size: 1rem !important;
    }

}

@media (max-width: 1199px) {


    .all-products .search-input {
        width: 268px;
    }

    .small-size {
        width: 119px !important;

    }
}

@media (max-width: 989px) {
    .all-products .search-input {
        width: 100%;
    }

    .all-products .filter-container {
        display: block;
    }

    .all-products .sort-filter {

        gap: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 1rem !important;


    }


}


@media(max-width:576px) and (min-width:576px) {

    .col-100 {
        width: 100% !important;
    }
}