:root {
  --primary-color: #0F1E3B;
  --secondary-color: #F2AE31;
  --white: #fff;
  --light-gray: #F1F1F1;
  --Gray-900: #101828;
  --Gray-500: #667085;
  /*??*/
  --gray-200: #E5E7EB;
  --Gray-50: #F9FAFB;
  --Gray-300: #D0D5DD;
  --Gray-700: #344054;

  --star-color: #FA8232;
  --secondary-5-workd-light: #F4F5FF;

  --border-btn-color: #6670853b;
  --background-gray: #e9ecef;


  --tertiary-color: #f2f2f2;
  --light-baby-blue: rgba(126, 184, 204, 0.203);

  /* --read-only-bg:#8080802b; */
}

@font-face {
  font-family: "Inter-reg";
  src: url(./assets/fonts/inter/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter-med";
  src: url(./assets/fonts/inter/Inter-Medium.ttf);
}

@font-face {
  font-family: "Inter-semi";
  src: url(./assets/fonts/inter/Inter-SemiBold.ttf);
}

@font-face {
  font-family: "Inter-bold";
  src: url(./assets/fonts/inter/Inter-Bold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');



/* slick-slider-react */

.slick-dots li {
  width: 15px !important;
  height: 20px;
}

.slick-dots li.slick-active button:before {
  color: var(--secondary-color) !important;
}

.slick-dots li button:before {
  font-size: 8px !important;
  opacity: 100% !important;
  color: white !important;
  text-shadow: 0.0px 0.1px 0.6px rgba(0, 0, 0, 1);
}




.form-control:focus {
  color: #212529;
  background-color: white;
  border: 1px solid #ced4da !important;
  outline: 0;
  box-shadow: none !important;
}

.form-control:focus-visible {
  border: 1px solid #ced4da !important;
}



.form-check-input:focus {
  border-color: rgba(0, 0, 0, .25) !important;
  outline: 0;
  box-shadow: none !important;
}



.cursor {
  cursor: pointer;
}


.Toastify__toast-theme--colored.Toastify__toast--success {
  background: green !important;
  color: white !important;
}





p, h1, h2, h3, h4, h5, h6 {
  cursor: default;
}



.submitButton[disabled] {
  background-color: #0f1e3bad !important;
  border-color: #0f1e3bad !important;
  cursor: not-allowed
}

.submitButton-border[disabled] {
  background-color: #0f1e3bad !important;
  cursor: not-allowed !important
}

.not-allowed {
  cursor: not-allowed !important
}

.page-item-prev.disabled, .page-item-next.disabled {
  cursor: not-allowed;

}




.small-note {
  font-family: 'Inter-reg';
  font-style: normal;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 20px;
  color: #475467;
  flex: none;
  align-self: stretch;
}


.bg-blur {
  backdrop-filter: blur(10px);
}

.bg-main {
  background-color: var(--primary-color) !important;
}

.text-main {
  color: var(--secondary-color) !important;
}






p, button, div, textarea, input {

  font-family: "Inter-reg";
  font-size: 16px;
  font-weight: 500;
  line-height: 27.2px;
}

.h1, h2, h3, h4, h5, h6 {

  font-family: "Inter-semi";
}

.w-fit-content {
  width: fit-content;
}


.h-fit-content {

  height: fit-content;
}

.lh-normal {
  line-height: normal;
}

.row-gap-24 {
  row-gap: 24px;
}

.gap-16 {
  gap: 16px;
}

.gap-8 {
  gap: 8px;
}

.gap-24 {
  gap: 24px;
}

.fs-10 {
  font-size: 10px;
}

.fs-16 {
  font-size: 16px;
}

.fs-12 {
  font-size: 12px;
}

.fs-24 {
  font-size: 24px;
}

.fw-600 {
  font-weight: 600;
}


.object-fit-contain {
  object-fit: contain !important;
}

.bg-none {
  background-color: transparent;
}


.border-top-left-radius {
  border-top-left-radius: 0;
}

.border-bottom-left-radius {
  border-bottom-left-radius: 0;
}

.border-top-right-radius {
  border-top-right-radius: 0;
}

.border-bottom-right-radius {
  border-bottom-right-radius: 0;
}

.form-select {
  padding: 10px 14px !important;
}

.pt-mt {
  padding-top: 1.5rem;
  margin-top: .25rem;
}

.rounded {
  border-radius: 6px !important;
}

.opps-icon{
  font-size: 28vh;
  color: var(--light-gray);
  }



/* icons-css  */
.fa-solid.fa-minus {
  background-color: var(--primary-color);
  border-radius: 6px;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}


@media (max-width:539px) {
  .margin-sm-screen {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }




}


/* s,all */
@media (max-width:576px) {


  .col-sm-d-none {
    display: none;
  }

  .w-sm-100 {
    width: 100% !important;
  }

}

@media (max-width: 768px) {

  .md-d-none {
    display: none
  }
}