
.verified-importer  .cont {
  width: 70% !important;


}
.verified-importer  .verify-mesg .border-css{
  border: solid 1px black;
  border-radius: 6px;

  gap:12px

  
}

.verified-importer label,.verified-importer p{
  font-size:15px;
  font-weight: 600;
  font-family: "Inter-reg";
}

.verified-importer .steps-text{

  background-color: var(--secondary-color);
  border-radius: 40px;
  color: white;
  font-size: x-large;



}
.verified-importer .cont-btn
  {
  color: var(--secondary-color);
  text-decoration: underline;

}
.verified-importer  small{
  font-family: "Inter-reg";
  font-weight: 600;
}