# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
# /build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/node_modules/
client/node_modules/
src/node_modules.zip
.env










# General files and directories
node_modules/





client/src/components/Factorydashboard/subComponets/Quotations/EditQuote/EditQuote copy.jsx
client/src/components/Forms/Shared/FormVlaidtionError copy.jsx
EtcVisitRequest copy.jsx
ignoore/BecomomeAFactoryFullScreenDelete.jsx
/ignoore
client/src/Context/userType copy.js
client/src/components/Shared/Dashboards/StatusMessage copy.jsx
client/src/components/Factorydashboard/subComponets/FactoryProfile/hooks/useFactoryProfile copy.js
client/src/components/Factorydashboard/subComponets/FactoryProfile/FactoryProfile copy.jsx
client/src/components/Factorydashboard/subComponets/FactoryProfile/FactoryProfile copy 3.jsx
client/src/components/Factorydashboard/subComponets/FactoryProfile/FactoryProfile copy 2.jsx


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
# /client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/node_modules/
client/node_modules/
src/node_modules.zip
.env

# General files and directories

node_modules/

.vercel
server/src/database/connection - Copy.js
server/src/database/models/factory.model copy 2.js
server/src/database/models/factory.model copy.js
server/src/utils/crud_ops copy.js
/dont-delete-ignore
client/src/components/Factorydashboard/subComponets/MircoSiteDash/MircoSiteDashOriginalllllll.jsx
client/src/components/Factorydashboard/subComponets/MircoSiteDash/MircoSiteDash copy.jsx
client/src/components/Factorydashboard/subComponets/MircoSiteDash/eddd.js
server/uploads/docs-1725726230197-LvwoYWjP479mOOiYziADqCapture.PNG
/server/uploads
server/src/database/connection copy.js
client/src/components/Importerdashboard/subComponets/ImporterProfile/ImporterProfile copy.jsx
client/src/components/Factories/AllFactories/FetchFactories copy.jsx
client/src/components/Home/TopFactories/FetchTopFactories copy.jsx
client/src/components/Home/sectors/Sectors copy.jsx
server/src/modules/sectors/sectors.controller copy.js
server/src/modules/sectors/sectors.routes copy.js
client/src/config copy.js
client/src/components/LanguageSwitcher/LanguageSwitcher copy.jsx
client/src/constants/countries copy.jsx
