.add-product-dash {

  padding: 30px 30px;

}

.add-product-dash .row {
  --bs-gutter-x: 1.5rem !important
}

.container.add-product-dash {
  --bs-gutter-x: 0 !important
}


.add-product-dash .select-countries {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid var(--Gray-300);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}




.add-product-dash .col-6 {
  flex: 0 0 auto;
}

.add-product-dash .col-12 {
  flex: 0 0 auto;
}




.add-product-dash .form-group input {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gray-300);

  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}











.cover-img-text {
  padding: 10px 16px !important;
}




.countries-drop {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid var(--Gray-300) !important;

}



.countries-drop.dropdown-toggle::after {
  display: none;
}


.countries-drop i {
  font-size: small;
}