/* .sector-img {

    display: flex;
    align-items: center;

} */

.borderContainer {
    object-fit: cover;
    width: 73px;
    height: 73px;
}

.sec-r-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 28px 0px;
    flex-grow: unset;
    flex-shrink: inherit;
    flex: 33px;
    align-items: stretch; /* Ensure all items stretch to the same height */


}

.sec-r-item {
    width: 247px;
}





.card-sector {
    padding: 8px 10px;
}




/* .sector-container { */
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
    width: 100%; */
    /* width: 100%; */
/* } */

/* .btn-sector {
    display: flex;
    width: 194px;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--primary-color);
    color: var(--white);
    text-align: center;

    font-family: "Inter-semi";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
} */



@media (max-width:539px) {
    .sec-r-container.secrotr-row {

        gap: 9px 11px;
        grid-template-columns: repeat(2, 1fr);
        display: grid;
    }

    .sec-r-item {
        width: 100%;

    }

   

   

    .borderContainer {
        width: 14.5vw;
        height: 14vw;
    }

}