.borderContainer {
    object-fit: contain;
    width: 73px;
    height: 73px;
}

.sec-r-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 28px 0px;
}

.sec-r-item {
    width: 247px;
}



@media (max-width:539px) {
    .sec-r-container.secrotr-row {

        gap: 9px 11px;
        grid-template-columns: repeat(2, 1fr);
        display: grid;
    }

    .sec-r-item {
        width: 100%;

    }

   

   

    .borderContainer {
        width: 14.5vw;
        height: 14vw;
    }

}