
.table {
    --bs-table-bg: inherit !important;
    --bs-table-striped-bg: white !important;
}


.table-striped tbody tr {
    padding: 16px 24px 16px 24px !important;
}

.bg-header {
    background-color: var(--gray-200) !important
}

.table thead {

    position: sticky !important;
    top: 0 !important;
}

.table-striped tbody tr:nth-child(even) {

    background-color: var(--gray-200) !important;
}

/* .table-striped tbody tr:nth-child(odd) {

    background-color:  white !important; 
} */

.border-container {
    border-radius: 8px;
    border: solid 1px var(--border-btn-color);
    height: 50vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.border-container-2 {
    border-radius: 8px;
    border: solid 1px var(--border-btn-color);
    scrollbar-width: thin;
}

.table>:not(caption)>*>* {
    padding: 15px 24px !important;
}

/* overrid the 1irst th */
.table>:not(caption)>tr>th {
    padding: 12px 24px !important;
    /* padding: 50px 24px  !important; */

}

.table tbody tr:last-child th, .table tbody tr:last-child td {
    border-bottom: none !important;
}


.error-float {
    top: 25%;
}