

.fa-solid.fa-minus {
    background-color: var(--primary-color);
    border-radius: 6px;


        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
}

.row-container-sepcialChar{

    row-gap: 24px;
    /* column-gap: 24px; */

}


.border-row{
    padding: 12px 11px;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);



    row-gap: 24px !important

}