/* =-----------------1pagination------------------------ */
.sourcing-pg .pagination, .all-products .pagination, .fo3 .pagination {
    --bs-pagination-color: black;
    gap: 12px;
    padding-top: 87px;
}

.sourcing-pg .page-link, .all-products .page-link, .fo3 .page-link {
    border-radius: 50px !important;
    outline: none !important;
    box-shadow: none !important;
    font-size: 17px !important;
}

/* shared */
.page-link.arrow-link-color {
    border-color: var(--secondary-color) !important;
}

/* shared */
/*start buttons on the left and right */
.page-link.arrow-link-color.margin-prev {
    margin-right: 10px;
}

/* shared */
.page-link.arrow-link-color.margin-next {
    margin-left: 10px;
}

/* shared */
.page-link.arrow-link-color i {
    color: var(--secondary-color) !important;
}

.sourcing-pg .page-link a, .all-products .page-link a, .fo3 .page-link a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;

}

/* .sourcing-pg .page-item.disabled .page-link,
.all-products .page-item.disabled .page-link, */
.page-item.disabled .page-link {
    border-color: rgba(128, 128, 128, 0.542) !important;
    background-color: rgba(128, 128, 128, 0.542) !important;
}

.page-link.arrow-link-color {
    border-color: var(--secondary-color) !important;
}

/* shared */
.page-item.disabled .page-link.arrow-link-color i {

    color: white !important;
}

/*end buttons on the left and right */
.sourcing-pg .active>.page-link, .all-products .active>.page-link, .fo3 .active>.page-link {
    background: var(--secondary-color) !important;
    border-color: var(--secondary-color);
}

.active>.page-link, .page-link.active {
    color: var(--bs-pagination-active-color);
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

.sourcing-pg .page-link:hover, .all-products .page-link:hover, .factories .page-link:hover {
    color: black !important;
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

.sourcing-pg .page-link:hover i, .all-products .page-link:hover i, .factories .page-link:hover i {
    color: white !important;
}

a:hover {
    color: black;
}





/*------------------------shared------------------ */
.arrow-btn {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 7px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #6B7B8A;
    background: #FAFAFA;
    cursor: pointer;
}

.arrow-btn:hover {
    background: var(--secondary-color)
}





.factories .btn-call-1, .fac-cert .btn-call-1, .topProducts .btn-call-1, .topFactory .btn-call-1, .all-products .btn-call-1 {
    display: flex;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--primary-color);
    border-color: transparent;
}



.text-container {
    border-bottom: 1px solid #FFF;
    background: var(--primary-color);
    display: flex;
    width: 213px;
    padding: 16px 10px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-right: 3%;
}