/* .factories {

    display: grid;

    align-items: flex-start;
    gap: 29px;
} */





.filt-btn {
    display: flex;
    padding-block: 22px;
    justify-content: center;
    align-items: center;
}

.in {
    padding: 22px 18px;
}





.in input {
    border-radius: 8px;
    border: 1px solid #DDD;
    background: #FFF;
}


.fo3 .row.gap {
    /* row-gap: 25px; */
    margin-left: 0 !important;

}

.fo3 .card.height {
    height: 488px;

    /* not sure */
    max-width: 72vw;
}








.factories .profile-img, .topFactory .profile-img {
    width: 100%;
    height: 53px;
    border-radius: 0%;
}

.profile-img .subProfileCont {
    width: 40px;
    height: 40px;
    overflow: hidden;

}


.fo3 .btn-container,.topFactory .btn-container  {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-container .btn-1 {

    color: #FAFAFA;
    border-radius: 8px;
    background: var(--primary-color);
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn-container .btn-1 .rfq-icon {

    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}


.btn-container .btn-2-factory {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid var(--gray-200);
    font-family: "Inter-med";
}












.factories .btn-call-2.padd {
    padding: 10px 13px;
}

.factories .dropdown-menu-top {
    position: absolute;
    top: 159px;
    right: 0;
    border: 1px solid var(--Gray-300);
    background: white;
    border-radius: 6px;

}

.factories .fa-regular.fa-comments {

    font-size: 1.5rem;
}




@media (max-width: 1399px) and (min-width: 992px) {
    .btn-text {
        /* font-size: 13px; */
        font-size: 0.8VW !important;

    }


    .factories .btn-call-1 {
        padding: 10px 12px !important;
    }

    .fa-regular.fa-comments {
        font-size: 1.2rem !important;

    }

    .factories .btn-call-2.padd {
        padding: 10px 7px !important;
    }
}


@media (max-width: 426px) {

    .fo3 .card.mobile-w {
        width: 85vw;
    }
}