.signup {
  padding: 130px 0;
  padding-left: 168px;
}

.signup .row-container-padding {
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.signup .img-contianer {
  border-radius: 20px;
  overflow: hidden;
  width: 560px;

  height: 693px;

}

.signup .img-contianer img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}





.signup .input-content {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}


.signup .title-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.signup .title-text p {
  color: var(--Gray-900);
  font-family: "Inter-reg";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  align-self: stretch;
}





/* --------------input form */

.signup .input-content {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}


.signup .input-content .form-1 {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.signup .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}

.signup .form-group label {
  color: var(--Gray-700);

  font-family: "Inter-reg";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.signup .form-group input {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gray-300);
  background: var(--white);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.signup .remove-left-border {
  border-right: none !important;
}

.signup .form-group small {
  color: var(--Gray-600, #475467);


  font-family: "Inter-reg";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.signup .input-group-text {
  padding: 10px 14px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: white !important;
}


.signup .phone-border {
  border-left: 0 !important;
}

.signup .action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.signup .action .action-btn {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);


  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.signup .action .action-btn.btn-1 {
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: white;

}

.signup .action .action-btn.btn-2 {
  border-radius: 8px;
  border: 1px solid var(--Gray-300);
  background: var(--white);

  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

}


/*signup container  */
.signUp-container {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.signup .signUp-container p {
  color: var(--Gray-600, #475467);

  font-family: "Inter-reg";

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.signup .signUp-container button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  color: var(--secondary-color);
  font-family: "Inter-reg";

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}


.signup .icon-eye-passowrd {
  padding: 10px 14px !important;
  border-left: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;



}