.send-po{
    padding:142px 0;
    display: grid;
    gap:24px;
  
  }
  
  .send-po .container-po{
    display: flex;
  width: 888px !important;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;


  padding: 30px 30px;
  border-radius: 16px;
  border: 1px solid var(--light-gray, #F1F1F1);
  }
  
  
  
  
  /* TITLE TEXT */
  .send-po .title-text {
  
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  }
  .send-po .title-text p{
    color: var(--Gray-900, #101828);
  
 
    font-family: "Inter-reg";
  
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; 
    letter-spacing: -0.96px;
    align-self: stretch;
  }
  
  
  
  
    /* --------------input form */
  
    .send-po .input-content{
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      align-self: stretch;
    }
    
    .send-po .row-container{
      row-gap: 24px;
      /* column-gap: 24px; */
  
    }
  
  
  
    
    .send-po  .input-content .form-1{
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      align-self: stretch;
    }
    
    .send-po   .form-group{
      display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
    }
    
    .send-po   .form-group label{
      color: var(--Gray-700, #344054);
    
      font-family:  "Inter-reg";
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      text-transform: capitalize;
    }
  
    
    .send-po   .form-group input{
      display: flex;
    padding: 10px 14px;
    align-items: center;
    gap: 8px;
    align-self: stretch;border-radius: 8px;
    border: 1px solid var(--Gray-300, #D0D5DD);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
    
    .send-po  .dropdown-toggle {
      padding: 10px 16px !important;
      border-radius: 0 !important;
  }

  .send-po .uploadFile-css {
    display: flex;
    gap: 6px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    color: var(--Gray-700, #344054);
}
    .send-po .form-group input[readOnly],.send-po .form-group textarea[readOnly] {
      background-color: #8080802b;
    }
    .send-po .form-group small{
      color: var(--Gray-600, #475467);
  
      font-family: "Inter-reg";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; 
  }
    
  .send-po .input-group-text{
      padding: 10px 14px !important;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      background-color: white !important;
      height: 100%;
  }
    
  
  .send-po .uploadFile-css{
      display: flex;
      gap: 6px;
      padding: 10px 16px;
      justify-content: center;
      align-items: center;
      color: var(--Gray-700, #344054);
  
  
  }
  .send-po .uploadFile-css i{
    font-size: 20px;
    transform: rotate(90deg);
  }
  .send-po .uploadFile-css p{
    font-family: "Inter-reg";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; 
  }
  
  .send-po    .action{
      display: flex;
    flex-direction: column;
    align-self: stretch;
  
  
    padding-top: 8px;
    width: 100%;
    justify-content: center;
    align-items: center;
  
  
    }
    
    .send-po   .action .action-btn{
      display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--primary-color, #0F1E3B);
    background: var(--primary-color, #0F1E3B);
    
    
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
    .send-po  .action .action-btn.btn-1{
    border: 1px solid var(--primary-color, #0F1E3B);
    background: var(--primary-color, #0F1E3B);
    color: white;
    
    }
    .send-po   .action .action-btn.btn-2{
      border-radius: 8px;
      border: 1px solid var(--Gray-300, #D0D5DD);
      background: var(--Base-White, #FFF);
      
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      
      }
    
    
     
  
      .send-po   textarea{
        display: flex;
  height: 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
      }
  
  
      .send-po   .CodeMirror-scroll{
          min-height: 135px !important;
          height: 135px !important;
  
      }



      .form-control.checked {
        padding: 12px 11px;
      }

 .form-check-div{
        gap: 6px;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
.send-po   .sectors input:checked {
        display: flex;
        width: 20px;
        height: 20px;
        padding: 3px;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        background: var(--secondary-color, #F2AE31);
    }

    .send-po   .form-check-input{
        border-radius: 0 !important;
    }


   .timeline{
    display: flex;
    gap:24px
   } 



   .timeline-container{
    gap:24px !important;
   }




   .send-po .pt-mt{
      padding-top: 1.5rem;

      margin-top: .25rem;

   }









   @media (max-width:992px) {
   .send-po .container-po {
    width: 71% !important;
}
}

   @media (max-width:576px) {
    .send-po .container-po {
      width: 91% !important;
  }
  
    .send-po {
      padding: 71px 0;
    }
 
    .col-sm-d-none{
        display: none;
    }

    .w-sm-100{
      width: 100% !important;
    }

    .pt-mt{
          
      padding: 0 ;
      margin: 0 ;
    }
  

}