.fact-sec1 {
  padding: 70px 0;
}

.HeroSlider {
  width: 1280px;
  max-height: 49vh;
  flex-shrink: 0;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
}

.HeroSlider.img {

  object-fit: contain;

}

.fact-sec1 video {
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
  max-height: 49vh;


  width: 100%;
  object-fit: cover;
}

.fact-sec1 .slick-list {
  max-height: 49vh;

}

.logo-text {
  display: flex;
  gap: 16px;
}

.text-fac-1 {

  color: #14181F;
  font-family: "Inter-semi";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 37.5px;
  letter-spacing: -0.3px;
}

.text-fac-2 {
  color: var(--gray-500);
  font-family: "Inter-med";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}



.det-fact {
  padding: 50px 0;
}

.sub-product-slider .swiper-wrapper {
  justify-content: center;
}

.call-fac-page {
  color: #14181F;
  font-family: "Inter-med";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17.5px;
  position: sticky;
  top: 104px;
  left: initial;
  background: white;
  z-index: 4;
  padding-top: 6px;
  width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: center;
}

.text-fac-4 {
  background: var(--light-gray);
  padding: 8px 12px;
}

.pehat p {
  color: #1C1C1E;
  font-family: "Inter-med";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

}

.pehat p {
  padding: 10px 0;
}

.fac-cert {
  padding: 30px 0;
}

.cert {
  background: #FFF;
  width: 548px !important;
  height: 227px;
}

.cert h4 {
  border-bottom: 1px solid #D8DBDE;
  padding: 15px 0;
}

.cert p {
  color: #5C6066;
  font-family: "Inter-reg";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 5px 0;
}

.cer-t {
  color: #14181F;
  font-family: "Inter-med";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.cer-t:nth-child(1) {
  padding-left: 120px;
}


.factory-logo-container {
  width: 114px;
  height: 114px;
  border-radius: 20px;
  border: 1px solid #FFF;
  overflow: hidden;
}

.factory-logo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img-top {

  height: 215.66px;
  object-fit: fill;

}

.btn-warning>.btn {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffc107;
  --bs-btn-border-color: #ffc107;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ffca2c;
  --bs-btn-hover-border-color: #ffc720;
  --bs-btn-focus-shadow-rgb: 217, 164, 6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffcd39;
  --bs-btn-active-border-color: #ffc720;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ffc107;
  --bs-btn-disabled-border-color: #ffc107;
}



/* contact us buttons */
.det-fact .parent-buttons-container {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #FFF;

  position: sticky;
  top: 202px;
  width: 100%;
  justify-content: flex-end;
}

.det-fact .parent-buttons-container .text-container {
  border-bottom: 1px solid #FFF;
  border-left: none;
  border-right: none;
  border-top: none;
  background: var(--primary-color);
  display: flex;
  width: 213px;
  margin-right: 5px;
  padding: 16px 10px;
  align-items: center;
  gap: 10px;
  cursor: pointer;

}




.det-fact .parent-buttons-container .text-container p {
  color: var(--white);
  text-align: center;
  font-family: "Inter-reg";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}


.product-card-text2 {
  height: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.call-btns {
  padding: 10px 0px 10px 0;
  text-align: center;
  justify-content: center;
}

.call-btns.padding {
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;

}

.empty-container {
  border: solid 1px var(--gray-200);
}



.det-fact .social-icons {
  font-size: 27px;
}

.det-fact .country-border {

  border: solid var(--gray-200) 1px;
}


.det-fact .dots-pad {
  padding: 0.5rem 1rem;
}

.det-fact .country-annot {
  font-size: xx-small;
}

.btn-endorse {
  border: none;
  padding: 16px 10px;
}

.padding-text-endors {
  padding: 16px 0px;
}

.btn-endorse:hover {
  background-color: rgba(128, 128, 128, 0.274)
}

.btn-call-2.padd {
  padding: 10px 20px;
}

.ellipsis.dropdown-toggle::after {
  display: none;
}






.btn-text {
  font-family: "Inter-med";
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.fa-regular.fa-comments.fa-2x {

  font-size: 1.4rem;

}

.dropdown-menu-top {
  display: none;
  position: absolute;
  top: 103px;
  /* top: 143px; */

  right: 0;
  border: 1px solid var(--Gray-300);
  background: white;
  border-radius: 6px;
  transition: display 0.3s ease;

}

.brant-cont .dropdown-menu-top {
  top: 143px;
}

.ellipsis:hover+.dropdown-menu-top, .dropdown-menu-top:hover, .ellipsis:active+.dropdown-menu-top, .dropdown-menu-top:active {
  display: block;
}

.btn-edit.border {
  border: 1px solid var(--gray-200)
}

.btn.contact:hover {
  background-color: var(--secondary-color);
  border-color: transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 6px;
}

.fac-cert .btn-call-1 {
  display: flex;
  padding: 10px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--primary-color);
  border-color: transparent;
}

.scroll::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

.scroll::-webkit-scrollbar-track {
  background-color: #c1b3b3;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}





.Img-txt-title {
  font-family: "Berkshire Swash", serif;
  border-bottom: 1px solid var(--Gray-300);
  display: grid;
  align-items: center;
  display: grid;
  align-items: center;
  height: fit-content;
  padding: 24px 0px;

}



@media(max-width:1136px) and (min-width:1251px) {
  .det-fact .parent-buttons-container .text-container {
    width: 138%
  }
}

@media(max-width:1199px) {
  .det-fact .parent-buttons-container .text-container {
    width: 114%;
  }
}

@media(max-width:1409.98px) and (min-width:1385px) {
  .det-fact .parent-buttons-container .text-container {
    width: 12.5vw;
  }
}

@media(max-width:1386px) {
  .det-fact .parent-buttons-container .text-container {
    width: 14.5vw;
  }
}

@media(max-width:987.98px) {
  .det-fact .parent-buttons-container .text-container {
    width: 20vw;
  }
}

@media (max-width: 767.98px) {
  .det-fact .parent-buttons-container .text-container {
    width: 100%;
  }
}

@media (max-width: 539px) {
  .fa-regular.fa-comments {
    font-size: 4.5vw;
  }
}

@media (max-width: 426px) {
  .HeroSlider {
    width: 1280px;
    max-height: 32vh;
  }

  .HeroSlider.img {
    object-fit: fill;
  }
}