.topFactory {
  display: grid;
  gap: 29px;
  padding-top: 130px;
  
}


.topFactory .factoryCard {
  align-items: flex-start;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.topFactory .factoryCard .card {
  width: 96% !important;


}

.factoryCard .sliderImg, .fo3 .sliderImg {
  height: 192px;
  object-fit: contain;

}

.cardBody {
  padding: 20px;
}



.imgLogo {
  width: 55.559px;
  height: 51px;
  border-radius: 6px;
  overflow: hidden;
}




.topFactory .dropdown-menu-top {
  position: absolute;
  top: 141px;
  right: 0;
  border: 1px solid var(--Gray-300);
  background: white;
  border-radius: 6px;
  z-index: 19;

}






/* @media (max-width: 765px) {



  .topFactory .factoryCard .card {
    width: 514px !important;
  }
}

@media (max-width: 624px) {


  .topFactory .factoryCard .card {
    width: 89vw !important;
  }
}

@media (max-width: 539px) {
  .topFactory .factoryCard .card {
    width: 82vw !important;
  }
} */