.border-type {
  border: 1px solid var(--Gray-300);
  border-radius: 6px;
  display: grid;
  row-gap: 27px;
  box-sizing: border-box;
  border-radius: 12px;

}

.cont-1 {
  width: 65%;
  height: 72px;
  left: 72px;
  margin-top: 9%;


}

.sec-div {
  margin: 9% 0px;
}

.sub-cont {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
}

.sub-cont-fac {
  grid-template-columns: repeat(5, 1fr);
  display: grid;
}

.sub-cont-buyer {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
}

.text-check {
  gap: 16px;
  display: grid;

}

.text-cont {



  height: 24px;

  font-family: "Inter-reg";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #344054;
  flex: none;
  flex-grow: 0;

}

.text-cont.active {
  color: var(--secondary-color)
}

.img-cont {
  Height: 32px;
  width: 32px;
}

.img-cont img {

  object-fit: fill;

}

.img-cont-file img {

  height: 80px;
  width: 80px;
  object-fit: fill;

}

.video-cont video {
  width: 291px;
  height: 163px;

  border-radius: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
  max-height: 49vh;


  width: 289px;
  object-fit: cover;

}



.vertical-line {
  background-color: var(--primary-color);
  width: 168px;


  height: 2px;



}

.vertical-line-after {
  background-color: var(--gray-200);
  width: 336px;

  height: 2px;



}

.frame-container-1 {
  border-radius: 16px;
  border: 1px solid var(--light-gray);
  display: grid;

  padding: 40px 0px;
  justify-content: center;
  align-items: flex-start;

  width: 640px;

}

.frame-container-2 {
  border-radius: 16px;
  border: 1px solid var(--light-gray);
  display: grid;

  justify-content: center;
  align-items: flex-start;

  width: 557px;
  padding: 32px;
}

.cont-frame-1 {
  display: grid;
  gap: 16px
}

.img-logo {

  width: 186px;
  height: 40px;


}

.img-logo img {

  width: 100%;
  height: 100%;
  object-fit: contain;


}

.user-icon {
  width: 42px;
  height: 42px;
}

.user-icon img {

  width: 100%;
  height: 100%;
  object-fit: contain;


}

.text-title {


  font-family: "Inter-reg";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #101828;

}

.text-sub {
  font-family: "Inter-reg";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #475467;


}

.user-text {
  font-family: "Inter-reg";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);

}

.user-text-sub {
  font-family: 'Inter-reg';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #475467;
}

.title-small {
  font-family: 'Inter-reg';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #667085;
}

small {
  font-family: 'Inter-reg';

}

.register-msg .action-btn {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  border-radius: 8px;
  border: none;
  background: var(--primary-color);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: white;
}


.gap-row {
  gap: 12px
}

.gap-row-2 {
  gap: 32px
}

.gap-cont {
  gap: 16px
}

.register-msg .container.content-1 {
  row-gap: 27px;
}




/* form */
.form-group.gap {
  display: grid;
  gap: 6px
}

.form-title {
  height: 20px;
  font-family: 'Inter-reg';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-transform: capitalize;

}

.input-style {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  gap: 8px;
  width: 493px;
  height: 44px;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;

}

.phone-borders {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

}

.register-msg .select-countries {
  border: 1px solid var(--Gray-300);

}


.register-msg .select-countries.dropdown-toggle::after {

  margin: auto 1px !important;
}





.icon-msg {

  font-size: 45px;
  border: 1px solid black;
  padding: 25px 18px;
  border-radius: 80px;
}

.action-msg .steps-text {
  background-color: var(--secondary-color);
  border-radius: 40px;
  color: white;
  font-size: x-large;
}


.action-msg .border-css {
  gap: 12px
}



.register-msg .img-text {
  display: -webkit-box;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
}






/* dashboard action messages */

.cont {
  width: 70% !important;


}
.verify-mesg .border-css{
  border: solid 1px black;
  border-radius: 6px;

  gap:12px

  
}

.verified-cont label,.verified-cont p{
  font-size:15px;
  font-weight: 600;
  font-family: "Inter-reg";
}

.verified-cont .steps-text{

  background-color: var(--secondary-color);
  border-radius: 40px;
  color: white;
  font-size: x-large;



}
.verified-cont .cont-btn
  {
  color: var(--secondary-color);
  text-decoration: underline;

}
.verified-cont  small{
  font-family: "Inter-reg";
  font-weight: 600;
}