.nav-pills {
    padding-top: 50px;
}

.req-card {
    display: flex;
    padding: 14px 20px;
    width: 32% !important;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #D8DBDE;
    background: #FFF;
}

.img-containerr {
    border-radius: 8px;
}

.req-card img {

    width: 122px;
    height: 240px;
    object-fit: cover;


}



.req-btn {
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: #FFF;
    font-family: "Inter-med";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.btn-sourcing {
    background-color: white;
    border-color: transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 6px;
}

.btn-sourcing.btn-warning {
    background-color: var(--secondary-color);
    border-color: transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 6px;
}

.sourcing-hub-section-pg .btn:hover, .sourcing-hub-section-pg .btn:active {

    color: black;
    background-color: var(--secondary-color) !important;
    border: var(--secondary-color) !important;

}



.req-btn.btn-color {
    color: white;
    background: var(--primary-color);
}







.req.horizontal-text-handler {

    display: -webkit-box;

    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}














@media (max-width:539px) {

    p, button, div, textarea, input {
        font-size: 14px;
    }


}

@media (max-width: 426px) {
    .req-btn {
        font-size: 3.4vw;
    }
}

@media (max-width: 361px) {
    .req-btn {
        font-size: 3vw;
    }
}