.req-btn {
    padding: 6px 16px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
}

@media (max-width:539px) {

    p, button, div, textarea, input {
        font-size: 14px;
    }


}

@media (max-width: 426px) {
    .req-btn {
        font-size: 3.4vw;
    }
}

@media (max-width: 361px) {
    .req-btn {
        font-size: 3vw;
    }
}