.userType .form-title {
  text-transform: capitalize
}

.signup-factory .container.container-req {
  display: flex;
  width: 888px !important;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 30px 30px;
  border-radius: 16px;
  border: 1px solid var(--light-gray);

}

.userType {
  padding: 128px;

}

.userType .input-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.userType .row-gap-fac-imp {
  row-gap: 12px
}




.userType .content-1 {
  display: flex;
  padding: 0px 64px;
  flex-direction: column;
  align-items: center;




  border-radius: 16px;
  border: 1px solid var(--light-gray);
  display: inline-flex;
  padding: 40px 64px;
  justify-content: center;
  align-items: center;

  background-color: #ffffff78;



}

.img-bg {
  background-image: url("../../../assets/images/hero/Image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
}

.userType .fixed-cont {
  position: sticky;
  top: 135px;
}



.userType .sub-content {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.userType .title-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.userType .title-text p {
  color: var(--Gray-900);
  font-family: "Inter-reg";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  align-self: stretch;
}


.userType.input-content {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}


.userType .input-content .form-1 {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.userType .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}

.userType .form-group label {
  color: var(--Gray-700);

  font-family: "Inter-reg";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.userType .form-select.form-control {
  padding: 9px 10px;

}

.userType .select-border {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.userType .phone-borders {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.userType .dropdown-toggle::after {
  display: none !important;
}

.userType .form-group input {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gray-300);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.userType .remove-left-border {
  border-right: none !important;
}


.userType .action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.userType .action .action-btn {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);


  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.userType .action .action-btn.btn-1 {
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: white;

}

.userType .action .action-btn.btn-2 {
  border-radius: 8px;
  border: 1px solid var(--Gray-300);
  background: var(--white);

  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

}


/*signup container  */
.signUp-container {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.userType.signUp-container p {
  color: var(--Gray-600, #475467);

  font-family: "Inter-reg";

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.userType .signUp-container button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  color: var(--secondary-color);
  font-family: "Inter-reg";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}


.userType .icon-eye-passowrd {
  padding: 10px 14px !important;
  border-left: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;



}

.img-cont {
  width: fit-content !important;
}

.vedio-cont {
  width: 319px;
  height: 180px;
}

.vedio-cont vedio {
  width: 319px !important;
  height: 180px !important;
  object-fit: cover !important;
}


.recvoerAcc-icon {
  text-align: center;
  font-size: 9rem;
}

.checked-success {
  color: green;
}



/* ------------------- */


.border-type {
  border: 1px solid var(--Gray-300);
  border-radius: 6px;
  display: grid;
  row-gap: 27px;
  box-sizing: border-box;
  border-radius: 12px;

}

.cont-1 {
  width: 65%;
  height: 72px;
  left: 72px;
  margin-top: 9%;


}

.sec-div {
  margin: 9% 0px;
}

.sub-cont {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
}

.sub-cont-fac {
  grid-template-columns: repeat(5, 1fr);
  display: grid;
}

.sub-cont-buyer {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
}

.text-check {
  gap: 16px;
  display: grid;

}

.text-cont {



  height: 24px;

  font-family: "Inter-reg";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #344054;
  flex: none;
  flex-grow: 0;

}

.text-cont.active {
  color: var(--secondary-color)
}

.img-cont {
  Height: 32px;
  width: 32px;
}

.img-cont img {

  object-fit: fill;

}

.img-cont-file img {

  height: 80px;
  width: 80px;
  object-fit: fill;

}

.video-cont video {
  width: 291px;
  height: 163px;

  border-radius: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
  max-height: 49vh;


  width: 289px;
  object-fit: cover;

}



.vertical-line {
  background-color: var(--primary-color);
  width: 168px;


  height: 2px;



}

.vertical-line-after {
  background-color: var(--gray-200);
  width: 336px;

  height: 2px;



}

.frame-container-1 {
  border-radius: 16px;
  border: 1px solid var(--light-gray, #F1F1F1);
  display: grid;

  padding: 40px 0px;
  justify-content: center;
  align-items: flex-start;

  width: 640px;

}

.frame-container-2 {
  border-radius: 16px;
  border: 1px solid var(--light-gray);
  display: grid;

  justify-content: center;
  align-items: flex-start;

  width: 557px;
  padding: 32px;
}

.cont-frame-1 {
  display: grid;
  gap: 16px
}

.img-logo {

  width: 186px;
  height: 40px;


}

.img-logo img {

  width: 100%;
  height: 100%;
  object-fit: contain;


}

.user-icon {
  width: 42px;
  height: 42px;
}

.user-icon img {

  width: 100%;
  height: 100%;
  object-fit: contain;


}

.text-title {


  font-family: "Inter-reg";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #101828;

}

.text-sub {
  font-family: "Inter-reg";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #475467;


}

.user-text {
  font-family: "Inter-reg";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color);

}

.user-text-sub {
  font-family: 'Inter-reg';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #475467;
}

.title-small {
  font-family: 'Inter-reg';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #667085;
}

small {
  font-family: 'Inter-reg';

}

.register-msg .action-btn {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  border-radius: 8px;
  border: none;
  background: var(--primary-color, #0F1E3B);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: white;
}


.gap-row {
  gap: 12px
}

.gap-row-2 {
  gap: 32px
}

.gap-cont {
  gap: 16px
}

.register-msg .container.content-1 {
  row-gap: 27px;
}




/* form */
.form-group.gap {
  display: grid;
  gap: 6px
}

.form-title {
  height: 20px;
  font-family: 'Inter-reg';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-transform: capitalize;

}

.input-style {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  gap: 8px;
  width: 493px;
  height: 44px;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;

}

.phone-borders {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

}

.register-msg .select-countries {
  border: 1px solid var(--Gray-300);

}


.register-msg .select-countries.dropdown-toggle::after {

  margin: auto 1px !important;
}





.icon-msg {

  font-size: 45px;
  border: 1px solid black;
  padding: 25px 18px;
  border-radius: 80px;
}

.action-msg .steps-text {
  background-color: var(--secondary-color);
  border-radius: 40px;
  color: white;
  font-size: x-large;
}


.action-msg .border-css {
  gap: 12px
}



.register-msg .img-text {
  display: -webkit-box;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
}