.login {
  padding: 35px 0px;

}




.login .content-1 {
  display: flex;
  /* padding: 0px 64px; */
  flex-direction: column;
  align-items: center;


}






.login .icon-eye-passowrd, .signup .icon-eye-passowrd {
  padding: 10px 14px !important;
  border-left: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}


/*sign up calsses not shared */

.signup {
  padding: 130px 0;
  padding-left: 168px;
}

.signup .row-container-padding {
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.signup .img-contianer {
  border-radius: 20px;
  overflow: hidden;
  width: 560px;

  height: 693px;

}

.signup .img-contianer img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signup .form-group small {
  color: var(--Gray-600, #475467);
  font-family: "Inter-reg";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.signup .input-group-text {
  padding: 10px 14px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: white !important;
}


.signup .phone-border {
  border-left: 0 !important;
}